<h3><%= t('action.create_account') %></h3>

<div class="box_user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, t('user.name') %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", size: 30 %>
    </div>

    <div class="field">
      <%= f.label :email, t('user.email') %><br />
      <%= f.email_field :email, autocomplete: "email", size: 30 %>
    </div>

    <div class="field">
      <%= f.label :password, t('user.password') %><br />
      <%= f.password_field :password, autocomplete: "new-password", size: 30 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t('user.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %>
    </div>

    <div class="actions">
      <%= f.submit t('action.create_account') %>
    </div>
  <% end %>
</div>
