<% comments.each.with_index(1) do |comment, i| %>
  <% if comment.id.present? %>
    <table class="comment-table">
      <tr>
        <th>その<%= "#{i}" %></th>
      </tr>
      <tr>
        <td class="comment-content"><%= simple_format(comment.content) %></td>
      </tr>
      <tr>
        <td class="comment-command">
          <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>（No.<%= comment.id %>）
          <%= link_to t('action.edit'), edit_meeting_log_comment_path(comment.meeting_log_id, comment.id), remote: true %>
          <%= link_to t('action.delete'), meeting_log_comment_path(comment.meeting_log_id, comment.id), method: :delete, remote: true, data: {confirm: "対象のエピソードを削除しますか？"} %>
        </td>
      </tr>
    </table>
    <hr>
  <% end %>
<% end %>

<div id="edit_area"></div>
