<% if @meeting_log.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @meeting_log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table class="meetinglog-form">
  <tr><%= image_tag 'icon_star.gif' %> が付いている項目は必須入力です</tr>
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :name, t('meeting_log.name') %></th>
    <td><%= f.text_field :name, size: 30 %> さん</td>
  </tr>
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :position, t('meeting_log.position') %></th>
    <td><%= f.text_field :position, size: 30 %></td>
  </tr>
</table>

<hr>

<h4>出会いについて</h4>

<table class="meetinglog-form">
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :day, "when?" %></th>
    <td><%= f.date_field :day %></td>
  </tr>
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :place, "where?" %></th>
    <td><%= f.text_field :place, placeholder: "どこで出会いましたか？", size: 50 %></td>
  </tr>
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :memo, "what?" %></th>
    <td><%= f.text_field :memo, placeholder: "何をしましたか？", size: 50 %></td>
  </tr>
  <tr>
    <th><%= image_tag 'icon_star.gif' %> <%= f.label :how, "how?" %></th>
    <td><%= f.text_field :how, placeholder: "それはどのようにしましたか？", size: 50 %></td>
  </tr>
  <tr>
    <th><%= f.label :image, t('meeting_log.image') %></th>
    <td><%= f.file_field :image %></td>
    <%= f.hidden_field :image_cache %>
  </tr>
  <tr>
    <th><%= t('meeting_log.tag') %></th>
　  <td>
      <%= f.collection_check_boxes(:tag_ids, current_user.tags, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>&ensp;
      <% end %>
    </td>
  </tr>
</table>

<hr>

<h4>もう少し詳しく</h4>

<table class="meetinglog-form">
  <tr>
    <th><%= f.label :age, t('meeting_log.age') %></th>
    <td><%= f.number_field :age, min: 0, max: 120 %> 歳</td>
  </tr>
  <tr>
    <th><%= f.label :look, t('meeting_log.look') %></th>
    <td><%= f.text_area :look, rows: 4, cols: 40 %></td>
  </tr>
  <tr>
    <th><%= f.label :birth, t('meeting_log.birth') %></th>
    <td><%= raw sprintf(f.date_select(:birth, start_year: 1900, end_year:(Time.now.year), include_blank: true, use_month_numbers: true, date_separator: '%s'), '年 ', '月 ') + '日' %></td>
  </tr>
  <tr>
    <th><%= f.label :blood, t('meeting_log.blood') %></th>
    <td><%= f.select :blood, MeetingLog.bloods_i18n.keys.map {|k| [MeetingLog.bloods_i18n[k], k]} %></td>
  </tr>
  <tr>
    <th><%= f.label :hometown, t('meeting_log.hometown') %></th>
    <td><%= f.text_field :hometown %></td>
  </tr>
  <tr>
    <th><%= f.label :other, t('meeting_log.other') %></th>
    <td><%= f.text_area :other, rows: 4, cols: 40 %></td>
  </tr>
  <%= f.hidden_field :status %>
</table>

<br>
