<!-- 対象一覧画面上部 -->
<div class="meetinglog-index-menu">
  <div class="circle-meetinglog">
    <%= link_to 'meeting_logs/name_only' do %>
      <p class="new-line">名前だけ<br>表示する</p>
    <% end %>
  </div>

  <div class="circle-meetinglog">
    <%= link_to 'meeting_logs/image_only' do %>
      <p class="new-line">画像だけ<br>表示する</p>
    <% end %>
  </div>

  <div class="circle-meetinglog">
    <%= link_to meeting_logs_path(sort_status: "true") do %>
      <p class="new-line">記憶状況<br>ソート</p>
    <% end %>
  </div>

  <div class="box-search">
    <div class="search">
      <%= form_with(model: MeetingLog.new, url: meeting_logs_path, local: true, method: 'get') do |f| %>
        <%= f.select :tag_id, @tags.pluck(:name), prompt: "タグから検索" %>　
        <%= f.text_field :name, placeholder: " 対象の名前から検索" %>
        <%= f.hidden_field :search, value: 'true' %>　
        <%= f.submit t('action.search') %>
      <% end %>
    </div>
  </div>
</div>
