<%= render partial: "menu" %>

<br>

<table>
  <% @meeting_logs.each do |m| %>
    <tr>
      <td><%= image_tag m.image.url %></td>
    </tr>
    <tr>
      <td>
        <details>
          <summary>名前を表示する</summary>
          <%= link_to (m.name), meeting_log_path(m.id) %> さん
        </details>
      </td>
    </tr>
    <tr>
      <td><%= m.position %></td>
    </tr>
  <% end %>
</table>

<%= paginate @meeting_logs %>



<a data-toggle="collapse" href="#demo">click me</a>
<div id="demo" class="collapse">
  Bootstrapは、モバイルファーストウェブサイトを開発するための最も一般的なHTML、CSS、およびJavaScriptフレームワークです。<br/>
</div>


<details>
<summary>『sample.mp4』をダウンロードしています。</summary>
hoge
</details>
