<%= render partial: "menu" %>

<br>

<table>
  <% @meeting_logs.each do |m| %>
    <tr>
      <td><%= link_to (m.name), meeting_log_path(m.id) %> さん</td>
    </tr>
    <tr>
      <td>
        <details>
          <summary>画像を表示する</summary>
          <%= image_tag m.image.url %>
        </details>
      </td>
    </tr>
    <tr>
      <td><%= m.position %></td>
    </tr>
  <% end %>
</table>

<%= paginate @meeting_logs %>
