<!-- 対象の詳細画面 -->

<br>

<div class="box_mypage">
  <table class="mypage-table">
    <tr>
      <td>
        <table class="mypage-intable1">
          <tr><td><%= image_tag @meeting_log.image.url %></td></tr>
          <tr><td>状況： <%= link_to @meeting_log.status_i18n, meeting_log_toggle_status_path(@meeting_log), method: :patch %> です！</td></tr>
        </table>
      </td>
      <td>
        <table class="mypage-intable2">
          <tr><th><%= t('meeting_log.name') %></th></tr>
          <tr><td><%= @meeting_log.name %>さん</td></tr>
          <tr><th><%= t('meeting_log.position') %></th></tr>
          <tr><td><%= @meeting_log.position %></td></tr>
          <tr><th><%= t('meeting_log.tag') %></th></tr>
          <tr><td>
            <% @meeting_log.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td></tr>
        </table>
      </td>
    </tr>
  </table>

  <table class="wh">
    <tr>
      <th>When</th>
      <td><%= @meeting_log.day %></td>
    </tr>
    <tr>
      <th>Where</th>
      <td><%= @meeting_log.place %></td>
    </tr>
    <tr>
      <th>What</th>
      <td><%= @meeting_log.memo %></td>
    </tr>
    <tr>
      <th>How</th>
      <td><%= @meeting_log.how %></td>
    </tr>
  </table>

  <br>

  <div class="box-profile">
    <table class="profile">
      <tr>
        <th><%= t('meeting_log.age') %></th>
      </tr>
      <tr>
        <td><%= @meeting_log.age %></td>
      </tr>
    </table>

    <table class="profile">
      <tr>
        <th><%= t('meeting_log.birth') %></th>
      </tr>
      <tr>
        <td><%= @meeting_log.birth %></td>
      </tr>
    </table>

    <table class="profile">
      <tr>
        <th><%= t('meeting_log.blood') %></th>
      </tr>
      <tr>
        <td><%= @meeting_log.blood_i18n %></td>
      </tr>
    </table>

    <table class="profile">
      <tr>
        <th><%= t('meeting_log.hometown') %></th>
      </tr>
      <tr>
        <td><%= @meeting_log.hometown %></td>
      </tr>
    </table>
  </div>


  <div class="profile2">
      <span class="box-title"><%= t('meeting_log.look') %></span>
      <p><%= simple_format(@meeting_log.look) %></p>
  </div>

  <div class="profile2">
      <span class="box-title"><%= t('meeting_log.other') %></span>
      <p><%= simple_format(@meeting_log.other) %></p>
  </div>

  <br>

  <hr>

  <br>

  <div class="comment">
    <h4>追加エピソード</h4>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, meeting_log: @meeting_log } %>
    </div>
    <p>入力用フォーム</p>
    <%= render partial: 'comments/form', locals: { comment: @comment, meeting_log: @meeting_log } %>
  </div>

</div>
