<h3>対象の詳細画面</h3>

<%= image_tag @meeting_log.image.url %>
<table>
  <tr>
    <td>状態：<%= @meeting_log.status %></td>
  </tr>
  <tr>
    <td>名前：<%= @meeting_log.name %>さん</td>
  </tr>
  <tr>
    <td>肩書き：<%= @meeting_log.position %></td>
  </tr>
  <tr>
    <td>
      タグ：
      <% @meeting_log.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>年齢：<%= @meeting_log.age %></td>
  </tr>
  <tr>
    <td>血液型：<%= @meeting_log.blood %></td>
  </tr>
  <tr>
    <td>誕生日：<%= @meeting_log.birth %></td>
  </tr>
  <tr>
    <td>出身：<%= @meeting_log.hometown %></td>
  </tr>
  <tr>
    <td>外見的特徴：<%= @meeting_log.look %></td>
  </tr>
  <tr>
    <td>備考欄：<%= @meeting_log.other %></td>
  </tr>
</table>

<p>追加エピソード</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, meeting_log: @meeting_log } %>
</div>
<p>入力用フォーム</p>
<%= render partial: 'comments/form', locals: { comment: @comment, meeting_log: @meeting_log } %>

<%= link_to '編集', edit_meeting_log_path(@meeting_log) %> |
<%= link_to '戻る', meeting_logs_path %>
</div>
