<div class="top">
  <h2 class="tutorial-title2">memoruとは？</h2>
  memoruは出会った人の顔と名前を覚えるためのツールです。<br>
  まずは「覚えよう」と決意するところから。<br>
  出会いの3W1H（いつ・どこで・何を・どのように）を意識して記録。<br>
  ときに振り返って記憶の定着を確認しましょう。
</div>

<div class="tutorial">
  <h2 class="tutorial-title1">こんなことありませんか？</h2>
  <%= image_tag "um.png" %>
  <%= image_tag "think.png" %>
  <%= image_tag "um2.png" %>
</div>

<div class="tutorial2">
  <h2 class="tutorial-title2">人の顔や名前を覚えるのが苦手なあなたに</h2>
  <div class="box-tutorial">
    <table class="table-tutorial">
      <tr><th>１．まずは「覚えよう！」と決意する</th></tr>
      <tr><td class="list-image"><%= image_tag "burning.png" %></td></tr>
      <tr><td>
        まずは心構えから。<br>
        絶対に覚えるぞ！という意識が大事です。<br>
        名前をたくさん呼ぶのも有効でしょう。
      </td></tr>
    </table>
  </div>
  <div class="box-tutorial">
    <table class="table-tutorial">
      <tr><th>２．出会いのシチュエーションを記録</th></tr>
      <tr><td class="list-image"><%= image_tag "talk.png" %></td></tr>
      <tr><td>いつ・どこで・どんな風に・何をした（何を話した）か。忘れないうちに出会いの記憶を刻み込みましょう。</td></tr>
    </table>
  </div>
  <div class="box-tutorial">
    <table class="table-tutorial">
      <tr><th>３．振り返って記憶を定着させる</th></tr>
      <tr><td class="list-image"><%= image_tag "study.png" %></td></tr>
      <tr><td>memoruには登録した対象の「名前だけ」「顔だけ」表示する機能があります。記憶の定着を確認しましょう。</td></tr>
    </table>
  </div>
</div>
