<!DOCTYPE html>
<html>
  <head>
    <title>Memoru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "一覧", meeting_logs_path %></li>
          <li><%= link_to '記録する', new_meeting_log_path %></li>
          <li>マイページ</li>
          <li><%= link_to "タグ管理", tags_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </header>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
